/* import poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*use poppins font*/
* {
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-image: linear-gradient(red, yellow); */
    background-image: url("/img/jeremy-cai-ucYWe5mzTMU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.avatar {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 60px;
}

p {
    margin: 0;
}

.avatarSelect {
    width: 150px; 
    height: 150px;
}

.avatarSelect:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}

#fightContainer {
    border: 1px solid black;
    backdrop-filter: blur(15px);
    position: relative;
    z-index: 5;
}

.bi-dice-6:hover{
    transform: scale(1.8);
    color: green;
}



