.avatar {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 60px;
}

p {
    margin: 0;
}

.avatarSelect {
    width: 150px; 
    height: 150px;
}

.avatarSelect:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}